controllers:
  main:
    revisionHistoryLimit: 1
    containers:
      main:
        image:
          repository: {{ .Values.imageRegistry }}/{{ (index .Values.penpotImages 4).image }}
          tag: {{ (index .Values.penpotImages 4).tag | quote }}
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 250m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop:
              - ALL

defaultPodOptions:
  automountServiceAccountToken: false
  securityContext:
    runAsNonRoot: true
    runAsUser: 999
    runAsGroup: 999
    fsGroup: 999
    fsGroupChangePolicy: OnRootMismatch

persistence:
  data:
    type: emptyDir
    globalMounts:
      - path: /data

service:
  main:
    controller: main
    ports:
      redis:
        port: 6379
