environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: mealie-postgres
    namespace: apps
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: mealie
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - mealie/values.yaml.gotmpl
    needs:
      - mealie-postgres
