environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: infisical-postgres
    namespace: apps
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: infisical-secrets
    namespace: apps
    chart: zot/internal/secret
    version: 0.1.0
    values:
      - fullnameOverride: infisical
        data:
          AUTH_SECRET: {{ .Values.infisical.auth_secret | trim | quote }}
          ENCRYPTION_KEY: {{ .Values.infisical.encryption_key | trim | quote }}
          REDIS_PASSWORD: {{ .Values.infisical.redis_password | trim | quote }}
          REDIS_URL: {{ printf "redis://:%s@infisical-redis.apps.svc.cluster.local:6379" (.Values.infisical.redis_password | trim) | quote }}
          SMTP_USERNAME: {{ .Values.mailrise.smtp_username | trim | quote }}
          SMTP_PASSWORD: {{ .Values.mailrise.smtp_password | trim | quote }}

  - name: infisical-redis
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - redis/values.yaml.gotmpl
    needs:
      - infisical-secrets

  - name: infisical
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - infisical/values.yaml.gotmpl
    needs:
      - infisical-postgres
      - infisical-redis
      - infisical-secrets
