# Terragrunt
.terragrunt-cache/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Talos
infrastructure/kubernetes/*/_out/
infrastructure/kubernetes/*/controlplane.yaml

# Helm
charts/*.tgz
charts/*/charts/
charts/*/Chart.lock

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp