# Terragrunt
.terragrunt-cache/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Talos
infrastructure/kubernetes/*/_out/
infrastructure/kubernetes/*/controlplane.yaml

# Helm
charts/*.tgz

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# sops secrets (hllab submodule handles this now)
/secrets
