environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: code-server
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - values.yaml.gotmpl
