environments:
  aion:
    values:
      - domain: aion.home.mrdvince.me
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: blog
    namespace: blog
    chart: zot/upstream/bitnami/ghost
    version: 24.0.3
    values:
      - values.yaml.gotmpl
