{{ if not (.Values | get "renderStockImages" false) }}
image:
  repository: {{ .Values.imageRegistry }}/cloudnative-pg/cloudnative-pg

{{ end }}
monitoring:
  grafanaDashboard:
    create: false
  podMonitorEnabled: false
