environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
  athos:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: external-dns
    namespace: external-dns
    chart: zot/upstream/external-dns/external-dns
    version: 1.21.1
    values:
      - values.yaml.gotmpl
