environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: rxresume-postgres
    namespace: apps
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: rxresume
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - rxresume/values.yaml.gotmpl
    needs:
      - rxresume-postgres
