environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: gitlab-postgres
    namespace: gitlab
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: gitlab-redis
    namespace: gitlab
    chart: zot/upstream/bjw-s/app-template
    version: 4.6.2
    values:
      - redis/values.yaml.gotmpl

  - name: gitlab
    namespace: gitlab
    chart: zot/upstream/gitlab/gitlab
    version: 10.1.1
    needs:
      - gitlab-postgres
      - gitlab-redis
    values:
      - gitlab/values.yaml.gotmpl
