environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: gitlab-postgres
    namespace: gitlab
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: gitlab-s3-secrets
    namespace: gitlab
    chart: zot/internal/secret
    version: 0.1.0
    values:
      - fullnameOverride: gitlab-s3-connection
        stringData:
          connection: |
            provider: AWS
            region: home
            aws_access_key_id: {{ .Values.s3.accessKey }}
            aws_secret_access_key: {{ .Values.s3.secretKey }}
            endpoint: https://s3.{{ .Values.domain }}
            path_style: true

  - name: gitlab-s3-backup-secrets
    namespace: gitlab
    chart: zot/internal/secret
    version: 0.1.0
    values:
      - fullnameOverride: gitlab-s3-backup-connection
        stringData:
          connection: |
            [default]
            access_key = {{ .Values.s3.accessKey }}
            secret_key = {{ .Values.s3.secretKey }}
            bucket_location = home
            host_base = s3.{{ .Values.domain }}
            host_bucket = s3.{{ .Values.domain }}
            use_https = True
            signature_v2 = False
            preserve_attrs = False

  - name: gitlab-oidc-provider
    namespace: gitlab
    chart: zot/internal/secret
    version: 0.1.0
    values:
      - fullnameOverride: gitlab-oidc-provider
        stringData:
          provider: |
            name: openid_connect
            label: Authentik
            args:
              name: openid_connect
              scope:
                - openid
                - profile
                - email
              response_type: code
              issuer: https://auth.{{ .Values.domain }}/application/o/gitlab/
              discovery: true
              client_auth_method: query
              uid_field: preferred_username
              pkce: true
              client_options:
                identifier: {{ .Values | get "gitlab-oidc.client_id" }}
                secret: {{ .Values | get "gitlab-oidc.client_secret" }}
                redirect_uri: https://gitlab.{{ .Values.domain }}/users/auth/openid_connect/callback

  - name: gitlab-redis
    namespace: gitlab
    chart: zot/upstream/bjw-s/app-template
    version: 4.6.2
    values:
      - redis/values.yaml.gotmpl

  - name: gitlab
    namespace: gitlab
    chart: zot/upstream/gitlab/gitlab
    version: 10.1.1
    needs:
      - gitlab-postgres
      - gitlab-redis
      - gitlab-s3-secrets
      - gitlab-s3-backup-secrets
      - gitlab-oidc-provider
    values:
      - gitlab/values.yaml.gotmpl
