environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: beyla
    namespace: monitoring
    chart: zot/upstream/grafana/beyla
    version: 1.16.8
    installed: false
    values:
      - values.yaml.gotmpl
