environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: bar-assistant
    namespace: apps
    chart: zot/internal/bar-assistant
    version: 0.1.11
    values:
      - values.yaml.gotmpl
