environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: bar-assistant
    namespace: apps
    chart: zot/internal/bar-assistant
    version: 0.1.9
    values:
      - values.yaml.gotmpl
