podSecurityContext:
  fsGroup: 33

api:
  authentik:
    existingSecret: barassistantinfisical
  image:
    repository: {{ .Values.imageRegistry }}/{{ (index .Values.barAssistant 0).image }}
    tag: "{{ (index .Values.barAssistant 0).tag }}"
  env:
    APP_URL: https://bar.{{ .Values.domain }}
    ALLOW_REGISTRATION: "true"
    # authentik SSO
    AUTHENTIK_BASE_URL: https://auth.{{ .Values.domain }}
    AUTHENTIK_REDIRECT_URI: https://bar.{{ .Values.domain }}/oauth/callback
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    timeoutSeconds: 5
  readinessProbe:
    timeoutSeconds: 5
  persistence:
    enabled: true
    storageClass: nfs-csi-retain
    size: 5Gi

saltRim:
  enabled: true
  image:
    repository: {{ .Values.imageRegistry }}/{{ (index .Values.barAssistant 1).image }}
    tag: "{{ (index .Values.barAssistant 1).tag }}"
  env:
    API_URL: https://bar.{{ .Values.domain }}
    MEILISEARCH_URL: https://bar.{{ .Values.domain }}/search

valkey:
  enabled: true
  image:
    repository: {{ .Values.imageRegistry }}/{{ (index .Values.barAssistant 2).image }}
    tag: "{{ (index .Values.barAssistant 2).tag }}"

meilisearch:
  enabled: true
  auth:
    existingMasterKeySecret: barassistantinfisical
  image:
    repository: {{ .Values.imageRegistry }}/{{ (index .Values.barAssistant 3).image }}
    tag: "{{ (index .Values.barAssistant 3).tag }}"
  persistence:
    enabled: true
    storageClass: nfs-csi-retain
    size: 2Gi

ingress:
  enabled: true
  className: traefik
  annotations:
    external-dns.alpha.kubernetes.io/hostname: bar.{{ .Values.domain }}
  hosts:
    - host: bar.{{ .Values.domain }}
  tls:
    - secretName: wildcard-home-mrdvince-me-tls
      hosts:
        - bar.{{ .Values.domain }}
