machine:
  kubelet:
    extraMounts:
      - destination: /var/lib/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw
  network:
    interfaces:
      - interface: ${NIC}
        dhcp: true
        vip:
          ip: ${VIP}
    nameservers:
      - 192.168.50.120
      - 1.1.1.1
cluster:
  allowSchedulingOnControlPlanes: true
  apiServer:
    certSANs:
${CERT_SANS}
    admissionControl:
      - name: PodSecurity
        configuration:
          defaults:
            audit: privileged
            audit-version: latest
            enforce: privileged
            enforce-version: latest
            warn: privileged
            warn-version: latest
  network:
    cni:
      name: none
    podSubnets:
      - ${POD_SUBNET}
    serviceSubnets:
      - ${SERVICE_SUBNET}
  proxy:
    disabled: true
