environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: penpot-postgres
    namespace: apps
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: penpot-valkey
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    values:
      - valkey/values.yaml.gotmpl

  - name: penpot
    namespace: apps
    chart: zot/upstream/penpot/penpot
    version: 1.6.1
    values:
      - values.yaml.gotmpl
    needs:
      - penpot-postgres
      - penpot-valkey
