x-gitlabNodeSelector: &gitlabNodeSelector
  kubernetes.io/hostname: aion-24

global:
{{ if not (.Values | get "renderStockImages" false) }}
  image:
    registry: {{ .Values.imageRegistry }}
{{ end }}
  hosts:
    domain: {{ .Values.domain }}
    gitlab:
      name: gitlab.{{ .Values.domain }}
    ssh: gitlab.{{ .Values.domain }}

  gatewayApi:
    enabled: false
    installEnvoy: false
    configureCertmanager: false

  ingress:
    enabled: true
    apiVersion: networking.k8s.io/v1
    class: traefik
    configureCertmanager: false
    annotations:
      external-dns.alpha.kubernetes.io/hostname: gitlab.{{ .Values.domain }}
    tls:
      enabled: true
      secretName: wildcard-home-mrdvince-me-tls

  hpa:
    apiVersion: autoscaling/v2

  pdb:
    apiVersion: policy/v1

  psql:
    host: gitlab-postgres-rw.gitlab.svc.cluster.local
    port: 5432
    database: gitlab
    username: gitlab
    password:
      secret: gitlab-postgres-app
      key: password

  redis:
    host: gitlab-redis.gitlab.svc.cluster.local
    port: 6379
    auth:
      enabled: false

  minio:
    enabled: false

  registry:
    enabled: false

{{ if not (.Values | get "renderStockImages" false) }}
  gitlabBase:
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-base

  certificates:
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/certificates

  kubectl:
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/kubectl

{{ end }}
  appConfig:
    object_store:
      enabled: true
      proxy_download: true
      connection:
        secret: gitlab-s3-connection
        key: connection

    lfs:
      bucket: gitlab
      connection: {}
    artifacts:
      bucket: gitlab
      connection: {}
    uploads:
      bucket: gitlab
      connection: {}
    packages:
      bucket: gitlab
      connection: {}
    externalDiffs:
      bucket: gitlab
      connection: {}
    terraformState:
      bucket: gitlab
      connection: {}
    dependencyProxy:
      bucket: gitlab
      connection: {}
    ciSecureFiles:
      bucket: gitlab
      connection: {}

    omniauth:
      enabled: true
      autoSignInWithProvider: openid_connect
      allowSingleSignOn:
        - openid_connect
      blockAutoCreatedUsers: false
      autoLinkUser:
        - openid_connect
      providers:
        - secret: gitlab-oidc-provider
          key: provider

  pages:
    enabled: false

  kas:
    enabled: true

postgresql:
  install: false

x-gitlabTolerations: &gitlabTolerations
  - key: dedicated
    operator: Equal
    value: gitlab
    effect: NoSchedule

nginx-ingress:
  enabled: false

installCertmanager: false

prometheus:
  install: false

registry:
  enabled: false

gitlab-runner:
  install: true
  concurrent: 5
{{ if not (.Values | get "renderStockImages" false) }}
  image:
    registry: {{ .Values.imageRegistry }}
{{ end }}
  rbac:
    create: true
  nodeSelector: *gitlabNodeSelector
  tolerations: *gitlabTolerations
  runners:
    locked: false
    secret: "nonempty"
    config: |
      [[runners]]
        request_concurrency = 4
        builds_dir = "/tmp/builds"
        environment = ["FF_NETWORK_PER_BUILD=1", "FF_USE_ADAPTIVE_REQUEST_CONCURRENCY=true", "FF_USE_ADVANCED_POD_SPEC_CONFIGURATION=true"]
        [runners.kubernetes]
        namespace = "gitlab"
        image = "{{ .Values.imageRegistry }}/library/alpine:3.23.2"
{{ if not (.Values | get "renderStockImages" false) }}
        helper_image = "{{ .Values.imageRegistry }}/gitlab-org/gitlab-runner/gitlab-runner-helper:x86_64-v18.11.2"
{{ end }}
        privileged = true
        logs_base_dir = "/tmp"
        scripts_base_dir = "/tmp"
        [[runners.kubernetes.volumes.empty_dir]]
          name = "docker-certs"
          mount_path = "/certs/client"
          medium = "Memory"
        [[runners.kubernetes.volumes.empty_dir]]
          name = "dind-storage"
          mount_path = "/var/lib/docker"
        [[runners.kubernetes.volumes.host_path]]
          name = "hostpath-modules"
          mount_path = "/lib/modules"
          read_only = true
          host_path = "/lib/modules"
        [[runners.kubernetes.volumes.host_path]]
          name = "hostpath-cgroup"
          mount_path = "/sys/fs/cgroup"
          host_path = "/sys/fs/cgroup"

upgradeCheck:
  enabled: false

shared-secrets:
  tolerations: *gitlabTolerations
{{ if not (.Values | get "renderStockImages" false) }}
  selfsign:
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/cfssl-self-sign
{{ end }}

gitlab:
  migrations:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-toolbox-ee
{{ end }}
    tolerations: *gitlabTolerations

  webservice:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-webservice-ee
{{ end }}
    tolerations: *gitlabTolerations
    deployment:
      strategy:
        rollingUpdate:
          maxSurge: 0
          maxUnavailable: 1
      startupProbe:
        httpGet:
          path: /-/readiness
          port: 8080
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 60
      livenessProbe:
        initialDelaySeconds: 300
        periodSeconds: 60
        timeoutSeconds: 30
        successThreshold: 1
        failureThreshold: 5
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 12
    workhorse:
{{ if not (.Values | get "renderStockImages" false) }}
      image: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-workhorse-ee
{{ end }}
      startupProbe:
        exec:
          command:
            - /scripts/healthcheck
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 60
      livenessProbe:
        initialDelaySeconds: 300
        periodSeconds: 60
        timeoutSeconds: 30
        successThreshold: 1
        failureThreshold: 5
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 12
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 1
          memory: 1Gi
    replicas: 1
    minReplicas: 1
    maxReplicas: 1
    workerProcesses: 2
    resources:
      requests:
        cpu: 700m
        memory: 2Gi
      limits:
        cpu: 3
        memory: 4Gi
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: DoesNotExist

  sidekiq:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-sidekiq-ee
{{ end }}
    tolerations: *gitlabTolerations
    extraEnv:
      SKIP_RAISE_ON_INITIALIZE_CONNECTIONS: "true"
    livenessProbe:
      initialDelaySeconds: 300
      periodSeconds: 60
      timeoutSeconds: 30
      successThreshold: 1
      failureThreshold: 5
    readinessProbe:
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 12
    replicas: 1
    minReplicas: 1
    maxReplicas: 1
    deployment:
      strategy:
        rollingUpdate:
          maxSurge: 0
          maxUnavailable: 1
    resources:
      requests:
        cpu: 300m
        memory: 1Gi
      limits:
        memory: 3Gi
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: DoesNotExist

  gitaly:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitaly
{{ end }}
    nodeSelector: *gitlabNodeSelector
    tolerations: *gitlabTolerations
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 2
        memory: 3Gi

  gitlab-shell:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-shell
{{ end }}
    tolerations: *gitlabTolerations
    replicas: 1
    minReplicas: 1
    maxReplicas: 1

  kas:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-kas
{{ end }}
    tolerations: *gitlabTolerations
    replicas: 1
    minReplicas: 1
    maxReplicas: 1

  gitlab-exporter:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-exporter
{{ end }}
    tolerations: *gitlabTolerations

  toolbox:
{{ if not (.Values | get "renderStockImages" false) }}
    image:
      repository: {{ .Values.imageRegistry }}/gitlab-org/build/cng/gitlab-toolbox-ee
{{ end }}
    tolerations: *gitlabTolerations
    replicas: 1
    backups:
      objectStorage:
        backend: s3
        config:
          secret: gitlab-s3-backup-connection
          key: connection
      cron:
        enabled: false
