environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: traefik
    namespace: traefik
    chart: zot/upstream/traefik/traefik
    version: 41.0.1
    values:
      - values.yaml.gotmpl
