environments:
  aion:
    values:
      - loadBalancerIP: "10.30.40.50"
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
repositories:
  - name: traefik
    url: https://traefik.github.io/charts

releases:
  - name: traefik
    namespace: traefik
    chart: traefik/traefik
    version: 39.0.9
    values:
      - values.yaml.gotmpl
