environments:
  aion:
    values:
      - domain: home.mrdvince.me
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/*.yaml
---
repositories:
  - name: bjw-s
    url: https://bjw-s-labs.github.io/helm-charts

releases:
  - name: pairdrop
    namespace: apps
    chart: bjw-s/app-template
    version: 4.6.0
    values:
      - values.yaml.gotmpl
