environments:
  aion:
    values:
      - defaultReplicaCount: 2
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: longhorn
    namespace: longhorn-system
    chart: zot/upstream/longhorn/longhorn
    version: 1.12.0
    values:
      - values.yaml.gotmpl
