environments:
  aion:
    values:
      - defaultReplicaCount: 2
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: longhorn
    namespace: longhorn-system
    chart: zot/upstream/longhorn/longhorn
    version: 1.12.0
    values:
      - values.yaml.gotmpl
