global:
{{ if not (.Values | get "renderStockImages" false) }}
  imageRegistry: {{ .Values.imageRegistry }}
{{ end }}
  tolerations: &longhornTolerations
    - operator: Exists

persistence:
  defaultClass: true
  defaultClassReplicaCount: {{ .Values.defaultReplicaCount }}

defaultSettings:
  defaultReplicaCount: {{ .Values.defaultReplicaCount }}
  taintToleration: ":"
  concurrentAutomaticEngineUpgradePerNodeLimit: 1
  replicaAutoBalance: best-effort
  storageOverProvisioningPercentage: 200

preUpgradeChecker:
  jobEnabled: false

metrics:
  serviceMonitor:
    enabled: false

ingress:
  enabled: true
  ingressClassName: traefik
  host: longhorn.{{ .Values.domain }}
  tls: true
  tlsSecret: wildcard-home-mrdvince-me-tls
  path: /
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: traefik-authentik-forward-auth@kubernetescrd

{{ if not (.Values | get "renderStockImages" false) }}
image:
  longhorn:
    manager:
      registry: {{ .Values.imageRegistry }}
    engine:
      registry: {{ .Values.imageRegistry }}
    instanceManager:
      registry: {{ .Values.imageRegistry }}
    shareManager:
      registry: {{ .Values.imageRegistry }}
    ui:
      registry: {{ .Values.imageRegistry }}
  csi:
    attacher:
      registry: {{ .Values.imageRegistry }}
    provisioner:
      registry: {{ .Values.imageRegistry }}
    resizer:
      registry: {{ .Values.imageRegistry }}
    snapshotter:
      registry: {{ .Values.imageRegistry }}
    nodeDriverRegistrar:
      registry: {{ .Values.imageRegistry }}
    livenessProbe:
      registry: {{ .Values.imageRegistry }}
{{ end }}
