environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
  athos:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: metrics-server
    namespace: kube-system
    chart: zot/upstream/metrics-server/metrics-server
    version: 3.13.1
    values:
      - args:
          - --kubelet-insecure-tls
        revisionHistoryLimit: 1
{{ if not (.Values | get "renderStockImages" false) }}
        image:
          repository: {{ .Values.imageRegistry }}/metrics-server/metrics-server
{{ end }}
