environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
  athos:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: metrics-server
    namespace: kube-system
    chart: zot/upstream/metrics-server/metrics-server
    version: 3.13.1
    values:
      - args:
          - --kubelet-insecure-tls
        revisionHistoryLimit: 1
{{ if not (.Values | get "renderStockImages" false) }}
        image:
          repository: {{ .Values.imageRegistry }}/metrics-server/metrics-server
{{ end }}
