environments:
  aion:
    values:
      - domain: home.mrdvince.me
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: bjw-s
    url: https://bjw-s-labs.github.io/helm-charts

releases:
  - name: karakeep
    namespace: apps
    chart: bjw-s/app-template
    version: 4.6.2
    values:
      - karakeep/values.yaml.gotmpl
