environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: alloy
    namespace: monitoring
    chart: zot/upstream/grafana/alloy
    version: 1.10.1
    values:
      - values.yaml.gotmpl
