{{ if eq .Release.Name "infisicaloperator" }}
hostAPI: https://infisical.{{ .Values.domain }}/api

controllerManager:
  serviceAccount:
    create: true
    name: infisicaloperator
  manager:
    image:
{{ if not (.Values | get "renderStockImages" false) }}
      repository: {{ .Values.imageRegistry }}/infisical/kubernetes-operator
{{ end }}
      tag: v0.11.5
  replicas: 1

scopedNamespaces:
  - infisicaloperator
  - hermes
  - apps
  - argocd
  - gitlab
  - cnpg-system
scopedRBAC: true
installCRDs: true
{{ else if eq .Release.Name "homelab" }}
global:
  createDefaultServiceAccount: false

rawResources:
  identity:
    forceRename: homelabidentity
    manifest:
      apiVersion: v1
      kind: Secret
      metadata:
        name: homelabidentity
        annotations:
          argocd.argoproj.io/sync-wave: "1"
      type: Opaque
      stringData:
        identityId: e5a41fc2-a3b6-4112-ac9a-5011a253d9cc

  connection:
    forceRename: homelab
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalConnection
      metadata:
        name: homelab
        annotations:
          argocd.argoproj.io/sync-wave: "1"
      spec:
        address: https://infisical.{{ .Values.domain }}

  authentication:
    forceRename: homelab
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalAuth
      metadata:
        name: homelab
        annotations:
          argocd.argoproj.io/sync-wave: "2"
      spec:
        infisicalConnectionRef:
          name: homelab
          namespace: infisicaloperator
        method: kubernetes
        kubernetes:
          identityIdRef:
            name: homelabidentity
            namespace: infisicaloperator
            key: identityId
          serviceAccountRef:
            name: infisicaloperator
            namespace: infisicaloperator

  canary:
    forceRename: homelabcanary
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: homelabcanary
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /infisicaloperator
        targets:
          - name: homelabcanary
            namespace: infisicaloperator
            kind: Secret
            creationPolicy: Owner

  argocd-registry:
    forceRename: helmregistry
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: helmregistry
        namespace: argocd
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /zot
        targets:
          - name: helmregistry
            namespace: argocd
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                registry.json: {{ `{{ "{{ .helm_registry_config.Value }}" }}` | quote }}

  gitlab-registry:
    forceRename: helmregistry
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: helmregistry
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /zot
        targets:
          - name: helmregistry
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                registry.json: {{ `{{ "{{ .helm_registry_config.Value }}" }}` | quote }}

  apps-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  gitlab-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  cnpgsystem-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: cnpg-system
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: cnpg-system
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  gitlab-s3:
    forceRename: gitlabs3
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: gitlabs3
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: gitlabs3connection
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                connection: |
                  provider: AWS
                  region: home
                  aws_access_key_id: {{ `{{ "{{ .accessKey.Value }}" }}` }}
                  aws_secret_access_key: {{ `{{ "{{ .secretKey.Value }}" }}` }}
                  endpoint: https://s3.{{ .Values.domain }}
                  path_style: true
          - name: gitlabs3backup
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                connection: |
                  [default]
                  access_key = {{ `{{ "{{ .accessKey.Value }}" }}` }}
                  secret_key = {{ `{{ "{{ .secretKey.Value }}" }}` }}
                  bucket_location = home
                  host_base = s3.{{ .Values.domain }}
                  host_bucket = s3.{{ .Values.domain }}
                  use_https = True
                  signature_v2 = False
                  preserve_attrs = False

  actual-oidc:
    forceRename: actualoidc
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: actualoidc
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /actual
        targets:
          - name: actualoidc
            namespace: apps
            kind: Secret
            creationPolicy: Owner
{{ end }}
