{{ if eq .Release.Name "infisicaloperator" }}
hostAPI: https://infisical.{{ .Values.domain }}/api

controllerManager:
  serviceAccount:
    create: true
    name: infisicaloperator
  manager:
    image:
{{ if not (.Values | get "renderStockImages" false) }}
      repository: {{ .Values.imageRegistry }}/infisical/kubernetes-operator
{{ end }}
      tag: v0.11.5
  replicas: 1

scopedNamespaces:
  - infisicaloperator
  - hermes
  - apps
  - argocd
  - gitlab
  - cnpg-system
  - cert-manager
  - external-dns
  - monitoring
  - blog
  - scriptorium
  - kube-system
scopedRBAC: true
installCRDs: true
{{ else if eq .Release.Name "homelab" }}
global:
  createDefaultServiceAccount: false

rawResources:
  identity:
    forceRename: homelabidentity
    manifest:
      apiVersion: v1
      kind: Secret
      metadata:
        name: homelabidentity
        annotations:
          argocd.argoproj.io/sync-wave: "1"
      type: Opaque
      stringData:
        identityId: e5a41fc2-a3b6-4112-ac9a-5011a253d9cc

  connection:
    forceRename: homelab
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalConnection
      metadata:
        name: homelab
        annotations:
          argocd.argoproj.io/sync-wave: "1"
      spec:
        address: https://infisical.{{ .Values.domain }}

  authentication:
    forceRename: homelab
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalAuth
      metadata:
        name: homelab
        annotations:
          argocd.argoproj.io/sync-wave: "2"
      spec:
        infisicalConnectionRef:
          name: homelab
          namespace: infisicaloperator
        method: kubernetes
        kubernetes:
          identityIdRef:
            name: homelabidentity
            namespace: infisicaloperator
            key: identityId
          serviceAccountRef:
            name: infisicaloperator
            namespace: infisicaloperator

  canary:
    forceRename: homelabcanary
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: homelabcanary
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /infisicaloperator
        targets:
          - name: homelabcanary
            namespace: infisicaloperator
            kind: Secret
            creationPolicy: Owner

  argocd-registry:
    forceRename: helmregistry
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: helmregistry
        namespace: argocd
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /zot
        targets:
          - name: helmregistry
            namespace: argocd
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                registry.json: {{ `{{ "{{ .helm_registry_config.Value }}" }}` | quote }}

  gitlab-registry:
    forceRename: helmregistry
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: helmregistry
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /zot
        targets:
          - name: helmregistry
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                registry.json: {{ `{{ "{{ .helm_registry_config.Value }}" }}` | quote }}

  apps-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  gitlab-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  cnpgsystem-cnpgbackup:
    forceRename: cnpgbackup
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cnpgbackup
        namespace: cnpg-system
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: cnpgbackup
            namespace: cnpg-system
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ACCESS_KEY_ID: {{ `{{ "{{ .accessKey.Value }}" }}` | quote }}
                ACCESS_SECRET_KEY: {{ `{{ "{{ .secretKey.Value }}" }}` | quote }}

  gitlab-s3:
    forceRename: gitlabs3
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: gitlabs3
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /s3
        targets:
          - name: gitlabs3connection
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                connection: |
                  provider: AWS
                  region: home
                  aws_access_key_id: {{ `{{ "{{ .accessKey.Value }}" }}` }}
                  aws_secret_access_key: {{ `{{ "{{ .secretKey.Value }}" }}` }}
                  endpoint: https://s3.{{ .Values.domain }}
                  path_style: true
          - name: gitlabs3backup
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                connection: |
                  [default]
                  access_key = {{ `{{ "{{ .accessKey.Value }}" }}` }}
                  secret_key = {{ `{{ "{{ .secretKey.Value }}" }}` }}
                  bucket_location = home
                  host_base = s3.{{ .Values.domain }}
                  host_bucket = s3.{{ .Values.domain }}
                  use_https = True
                  signature_v2 = False
                  preserve_attrs = False

  actual-oidc:
    forceRename: actualoidc
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: actualoidc
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /actual
        targets:
          - name: actualoidc
            namespace: apps
            kind: Secret
            creationPolicy: Owner

  mailrise:
    forceRename: mailriseinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: mailriseinfisical
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /mailrise
        targets:
          - name: mailriseinfisical
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                mailrise.conf: {{ `{{ "{{ .config.Value }}" }}` | quote }}
                smtp-username: {{ `{{ "{{ .smtp_username.Value }}" }}` | quote }}
                smtp-password: {{ `{{ "{{ .smtp_password.Value }}" }}` | quote }}

  penpot:
    forceRename: penpotinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: penpotinfisical
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /penpot
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /penpot/oidc
        targets:
          - name: penpotinfisical
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                api-secret-key: {{ `{{ "{{ .api_secret.Value }}" }}` | quote }}
                oidc-client-id: {{ `{{ "{{ .client_id.Value }}" }}` | quote }}
                oidc-client-secret: {{ `{{ "{{ .client_secret.Value }}" }}` | quote }}

  cloudflare:
    forceRename: cloudflare
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: cloudflare
        namespace: cert-manager
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /cf
        targets:
          - name: cloudflare
            namespace: cert-manager
            kind: Secret
            creationPolicy: Owner

  adguard:
    forceRename: adguardauth
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: adguardauth
        namespace: external-dns
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /adhome
        targets:
          - name: adguardauth
            namespace: external-dns
            kind: Secret
            creationPolicy: Owner

  grafana:
    forceRename: grafanainfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: grafanainfisical
        namespace: monitoring
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /grafana
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /grafana/oidc
        targets:
          - name: grafanainfisical
            namespace: monitoring
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                admin-user: {{ `{{ "{{ .adminUser.Value }}" }}` | quote }}
                admin-password: {{ `{{ "{{ .adminPassword.Value }}" }}` | quote }}
                oidc-client-id: {{ `{{ "{{ .client_id.Value }}" }}` | quote }}
                oidc-client-secret: {{ `{{ "{{ .client_secret.Value }}" }}` | quote }}

  blog:
    forceRename: bloginfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: bloginfisical
        namespace: blog
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /ghost
        targets:
          - name: bloginfisical
            namespace: blog
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                ghost-password: {{ `{{ "{{ .ghostPassword.Value }}" }}` | quote }}
                mysql-password: {{ `{{ "{{ .ghostMysqlPassword.Value }}" }}` | quote }}
                mysql-root-password: {{ `{{ "{{ .ghostMysqlRootPassword.Value }}" }}` | quote }}

  gitlab-oidc:
    forceRename: gitlaboidc
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: gitlaboidc
        namespace: gitlab
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /gitlab-oidc
        targets:
          - name: gitlaboidc
            namespace: gitlab
            kind: Secret
            creationPolicy: Owner

  zot:
    forceRename: zotinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: zotinfisical
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /zot
        targets:
          - name: zotinfisical
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                config.json: {{ `{{ "{{ .config_file.Value }}" }}` | quote }}
                credentials.json: {{ `{{ "{{ .credentials_file.Value }}" }}` | quote }}
                sessionKeys.json: {{ `{{ "{{ .session_keys_file.Value }}" }}` | quote }}
                htpasswd: {{ `{{ "{{ .htpasswd_file.Value }}" }}` | quote }}

  bar-assistant:
    forceRename: barassistantinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: barassistantinfisical
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /bar-assistant-oidc
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /meilisearch
        targets:
          - name: barassistantinfisical
            namespace: apps
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                AUTHENTIK_CLIENT_ID: {{ `{{ "{{ .client_id.Value }}" }}` | quote }}
                AUTHENTIK_CLIENT_SECRET: {{ `{{ "{{ .client_secret.Value }}" }}` | quote }}
                MEILI_MASTER_KEY: {{ `{{ "{{ .meilisearch_master_key.Value }}" }}` | quote }}

  argocd-oidc:
    forceRename: argocdoidc
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: argocdoidc
        namespace: argocd
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /argo-oidc
        targets:
          - name: argocdoidc
            namespace: argocd
            kind: Secret
            creationPolicy: Owner
            metadata:
              annotations: {}
              labels:
                app.kubernetes.io/part-of: argocd

  netbox:
    forceRename: netboxinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: netboxinfisical
        namespace: apps
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /netbox-oidc
        targets:
          - name: netboxinfisical
            namespace: apps
            kind: Secret
            secretType: kubernetes.io/basic-auth
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                username: {{ `{{ "{{ .superuser_name.Value }}" }}` | quote }}
                password: {{ `{{ "{{ .superuser_password.Value }}" }}` | quote }}
                email: {{ `{{ "{{ .superuser_email.Value }}" }}` | quote }}
                api_token: {{ `{{ "{{ .api_token.Value }}" }}` | quote }}
                oidc.yaml: |
                  SOCIAL_AUTH_OIDC_OIDC_ENDPOINT: "https://auth.{{ .Values.domain }}/application/o/netbox/"
                  SOCIAL_AUTH_OIDC_KEY: {{ `{{ "{{ .client_id.Value | quote }}" }}` }}
                  SOCIAL_AUTH_OIDC_SECRET: {{ `{{ "{{ .client_secret.Value | quote }}" }}` }}
                  SOCIAL_AUTH_OIDC_SCOPE: ["openid", "profile", "email", "roles"]
                  SOCIAL_AUTH_REDIRECT_IS_HTTPS: true
                  LOGOUT_REDIRECT_URL: "https://auth.{{ .Values.domain }}/application/o/netbox/end-session/"
                  REMOTE_AUTH_SUPERUSER_GROUPS: ["superusers"]
                  REMOTE_AUTH_STAFF_GROUPS: ["superusers", "staff"]

  democratic-csi:
    forceRename: democraticcsiinfisical
    manifest:
      apiVersion: secrets.infisical.com/v1beta1
      kind: InfisicalStaticSecret
      metadata:
        name: democraticcsiinfisical
        namespace: kube-system
        annotations:
          argocd.argoproj.io/sync-wave: "3"
      spec:
        infisicalAuthRef:
          name: homelab
          namespace: infisicaloperator
        syncOptions:
          refreshInterval: 60s
        sources:
          - projectId: 0b29d425-2822-4168-b95f-38127a2e80d7
            environmentSlug: prod
            secretPath: /truenas/democratic_csi
        targets:
          - name: democraticcsiinfisical
            namespace: kube-system
            kind: Secret
            creationPolicy: Owner
            template:
              engineVersion: v1
              data:
                driver-config-file.yaml: |
                  driver: freenas-iscsi
                  instance_id: aion
                  httpConnection:
                    protocol: https
                    host: {{ .Values.nfsServer }}
                    port: 443
                    apiKey: {{ `{{ "{{ .api_key.Value | quote }}" }}` }}
                    allowInsecure: true
                    apiVersion: 2
                  sshConnection:
                    host: {{ .Values.nfsServer }}
                    port: 22
                    username: {{ `{{ "{{ .username.Value | quote }}" }}` }}
                    privateKey: {{ `{{ "{{ .ssh_private_key.Value | quote }}" }}` }}
                  zfs:
                    cli:
                      sudoEnabled: true
                    datasetParentName: swamp/moss/aion-iscsi
                    detachedSnapshotsDatasetParentName: swamp/moss/aion-iscsi-snaps
                    zvolEnableReservation: false
                    zvolBlocksize: 16K
                  iscsi:
                    targetPortal: {{ .Values.nfsServer }}
                    targetPortals: []
                    namePrefix: csi-
                    nameSuffix: "-aion"
                    targetGroups:
                      - targetGroupPortalGroup: 1
                        targetGroupInitiatorGroup: 2
                        targetGroupAuthType: None
                        targetGroupAuthGroup:
                    extentInsecureTpc: true
                    extentXenCompat: false
                    extentDisablePhysicalBlocksize: true
                    extentBlocksize: 512
                    extentRpm: "7200"
                    extentAvailThreshold: 0
{{ end }}
