{{- if .Values.saltRim.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bar-assistant.fullname" . }}-saltrim
  labels:
    {{- include "bar-assistant.labels" . | nindent 4 }}
    app.kubernetes.io/component: saltrim
spec:
  replicas: {{ .Values.saltRim.replicaCount }}
  selector:
    matchLabels:
      {{- include "bar-assistant.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: saltrim
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "bar-assistant.labels" . | nindent 8 }}
        app.kubernetes.io/component: saltrim
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "bar-assistant.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: saltrim
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.saltRim.image.repository }}:{{ .Values.saltRim.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.saltRim.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: API_URL
              value: {{ .Values.saltRim.env.API_URL | quote }}
            - name: MEILISEARCH_URL
              value: {{ .Values.saltRim.env.MEILISEARCH_URL | quote }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          {{- with .Values.saltRim.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
