environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: pyroscope
    namespace: monitoring
    chart: zot/upstream/grafana/pyroscope
    version: 2.1.0
    values:
      - values.yaml.gotmpl
