environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
  athos:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: reflector
    namespace: reflector
    chart: zot/upstream/emberstack/reflector
    version: 10.0.46
    values:
      - values.yaml.gotmpl
