{{ if not (.Values | get "renderStockImages" false) }}
image:
  repository: {{ .Values.imageRegistry }}/emberstack/kubernetes-reflector

{{ end }}
configuration:
  logging:
    minimumLevel: Information
