environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: kps
    namespace: monitoring
    chart: zot/upstream/prometheus-community/kube-prometheus-stack
    version: 87.3.0
    values:
      - values.yaml.gotmpl
