environments:
  aion:
    values:
      - cluster: aion
        server: https://kubernetes.default.svc
        repoRevision: "HEAD"
    secrets:
      - ../../secrets/secrets.enc.yaml
  athos:
    values:
      - cluster: athos
        server: https://kubernetes.default.svc
        repoRevision: "HEAD"
    secrets:
      - ../../secrets/secrets.enc.yaml
---
bases:
  - ../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: appsets
    namespace: argocd
    chart: zot/upstream/argo/argocd-apps
    version: 2.0.5
    values:
      - values.yaml.gotmpl
