environments:
  aion:
    values:
      - cluster: aion
        server: https://kubernetes.default.svc
  athos:
    values:
      - cluster: athos
        server: https://kubernetes.default.svc
---
repositories:
  - name: argo
    url: https://argoproj.github.io/argo-helm

releases:
  - name: appsets
    namespace: argocd
    chart: argo/argocd-apps
    version: 2.0.4
    values:
      - values.yaml.gotmpl
