applicationsets:
  core-apps:
    namespace: argocd
    goTemplate: true
    generators:
      - merge:
          mergeKeys:
            - appName
          generators:
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      directories:
                        - path: apps/core/*
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      files:
                        - path: apps/core/*/argocd.yaml
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
    template:
      metadata:
        name: '{{`{{ .appName }}`}}'
      spec:
        project: '{{`{{ dig "project" "default" . }}`}}'
        source:
          repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
          targetRevision: {{ .Values.repoRevision }}
          path: '{{`{{ .path.path }}`}}'
          plugin:
            name: helmfile
            env:
              - name: ENV_NAME
                value: {{ .Values.cluster }}
        destination:
          server: {{ .Values.server }}
          namespace: '{{`{{ dig "namespace" .path.basename . }}`}}'
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
            allowEmpty: true
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
    templatePatch: |
      {{`{{- if hasKey . "ignoreDifferences" }}`}}
      spec:
        ignoreDifferences: {{`{{ .ignoreDifferences | toYaml | nindent 4 }}`}}
      {{`{{- end }}`}}

  service-apps:
    namespace: argocd
    goTemplate: true
    generators:
      - merge:
          mergeKeys:
            - appName
          generators:
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      directories:
                        - path: apps/services/*
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      files:
                        - path: apps/services/*/argocd.yaml
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
    template:
      metadata:
        name: '{{`{{ .appName }}`}}'
      spec:
        project: '{{`{{ dig "project" "default" . }}`}}'
        source:
          repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
          targetRevision: {{ .Values.repoRevision }}
          path: '{{`{{ .path.path }}`}}'
          plugin:
            name: helmfile
            env:
              - name: ENV_NAME
                value: {{ .Values.cluster }}
        destination:
          server: {{ .Values.server }}
          namespace: '{{`{{ dig "namespace" "apps" . }}`}}'
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
            allowEmpty: true
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
    templatePatch: |
      {{`{{- if hasKey . "ignoreDifferences" }}`}}
      spec:
        ignoreDifferences: {{`{{ .ignoreDifferences | toYaml | nindent 4 }}`}}
      {{`{{- end }}`}}

  storage-apps:
    namespace: argocd
    goTemplate: true
    generators:
      - merge:
          mergeKeys:
            - appName
          generators:
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      directories:
                        - path: apps/storage/*
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      files:
                        - path: apps/storage/*/argocd.yaml
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
    template:
      metadata:
        name: '{{`{{ .appName }}`}}'
      spec:
        project: '{{`{{ dig "project" "default" . }}`}}'
        source:
          repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
          targetRevision: {{ .Values.repoRevision }}
          path: '{{`{{ .path.path }}`}}'
          plugin:
            name: helmfile
            env:
              - name: ENV_NAME
                value: {{ .Values.cluster }}
        destination:
          server: {{ .Values.server }}
          namespace: '{{`{{ dig "namespace" "kube-system" . }}`}}'
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
            allowEmpty: true
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
    templatePatch: |
      {{`{{- if hasKey . "ignoreDifferences" }}`}}
      spec:
        ignoreDifferences: {{`{{ .ignoreDifferences | toYaml | nindent 4 }}`}}
      {{`{{- end }}`}}

  monitoring-apps:
    namespace: argocd
    goTemplate: true
    generators:
      - merge:
          mergeKeys:
            - appName
          generators:
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      directories:
                        - path: apps/monitoring/*
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
            - matrix:
                generators:
                  - git:
                      repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
                      revision: {{ .Values.repoRevision }}
                      files:
                        - path: apps/monitoring/*/argocd.yaml
                  - list:
                      elements:
                        - appName: '{{`{{ .path.basename }}`}}'
    template:
      metadata:
        name: '{{`{{ .appName }}`}}'
      spec:
        project: '{{`{{ dig "project" "default" . }}`}}'
        source:
          repoURL: git@gitlab.home.mrdvince.me:homelab/homelab.git
          targetRevision: {{ .Values.repoRevision }}
          path: '{{`{{ .path.path }}`}}'
          plugin:
            name: helmfile
            env:
              - name: ENV_NAME
                value: {{ .Values.cluster }}
        destination:
          server: {{ .Values.server }}
          namespace: '{{`{{ dig "namespace" "monitoring" . }}`}}'
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
            allowEmpty: true
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
    templatePatch: |
      {{`{{- if hasKey . "ignoreDifferences" }}`}}
      spec:
        ignoreDifferences: {{`{{ .ignoreDifferences | toYaml | nindent 4 }}`}}
      {{`{{- end }}`}}
