environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: grafana
    namespace: monitoring
    chart: zot/upstream/grafana/grafana
    version: 10.5.15
    values:
      - values.yaml.gotmpl
