image:
  registry: {{ .Values.imageRegistry }}
  repository: {{ (index .Values.grafanaImages 0).image }}

adminUser: {{ .Values.grafana.adminUser }}
adminPassword: {{ .Values.grafana.adminPassword }}

assertNoLeakedSecrets: false

deploymentStrategy:
  type: Recreate

grafana.ini:
  server:
    root_url: https://grafana.{{ .Values.domain }}
  analytics:
    reporting_enabled: false
    check_for_updates: true
    check_for_plugin_updates: true
    feedback_links_enabled: false
  security:
    disable_gravatar: true
  users:
    allow_sign_up: false
    allow_org_create: false
  auth:
    disable_login_form: true
    oauth_auto_login: true
    signout_redirect_url: https://auth.{{ .Values.domain }}/application/o/grafana/end-session/
  auth.generic_oauth:
    enabled: true
    name: Authentik
    allow_sign_up: true
    allow_assign_grafana_admin: true
    client_id: {{ .Values.grafana.oidc.client_id }}
    client_secret: {{ .Values.grafana.oidc.client_secret }}
    scopes: openid email profile
    auth_url: https://auth.{{ .Values.domain }}/application/o/authorize/
    token_url: https://auth.{{ .Values.domain }}/application/o/token/
    api_url: https://auth.{{ .Values.domain }}/application/o/userinfo/
    role_attribute_path: contains(groups[*], 'grafana-admins') && 'GrafanaAdmin' || contains(groups[*], 'grafana-editors') && 'Editor' || 'Viewer'

persistence:
  enabled: true
  size: 10Gi
  storageClassName: longhorn

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - grafana.{{ .Values.domain }}
  tls:
    - secretName: wildcard-home-mrdvince-me-tls
      hosts:
        - grafana.{{ .Values.domain }}

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://kps-prometheus.monitoring.svc:9090
        access: proxy
        isDefault: true
        jsonData:
          httpMethod: POST
          manageAlerts: true
      - name: Loki
        type: loki
        url: http://loki-gateway.monitoring.svc:80
        access: proxy
        jsonData:
          maxLines: 1000
      - name: Alertmanager
        type: alertmanager
        url: http://kps-alertmanager.monitoring.svc:9093
        access: proxy
        jsonData:
          implementation: prometheus
      - name: Tempo
        type: tempo
        url: http://tempo.monitoring.svc:3200
        access: proxy
        jsonData:
          tracesToLogsV2:
            datasourceUid: Loki
            filterByTraceID: true
            filterBySpanID: true
          tracesToMetrics:
            datasourceUid: Prometheus
          tracesToProfiles:
            datasourceUid: Pyroscope
          serviceMap:
            datasourceUid: Prometheus
          nodeGraph:
            enabled: true
          lokiSearch:
            datasourceUid: Loki
      - name: Pyroscope
        type: grafana-pyroscope-datasource
        uid: Pyroscope
        url: http://pyroscope.monitoring.svc:4040
        access: proxy

sidecar:
  image:
    registry: {{ .Values.imageRegistry }}
    repository: {{ (index .Values.grafanaImages 1).image }}
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    folderAnnotation: grafana_folder
    searchNamespace: ALL
    provider:
      foldersFromFilesStructure: true
  datasources:
    enabled: false

extraObjects:
{{- $dashboardsRoot := "../../../dashboards" }}
{{- range $folder := readDirEntries $dashboardsRoot }}
{{- if $folder.IsDir }}
{{- $folderName := $folder.Name }}
{{- range $dashboard := readDirEntries (printf "%s/%s" $dashboardsRoot $folderName) }}
{{- if and (not $dashboard.IsDir) (hasSuffix ".json" $dashboard.Name) }}
{{- $dashboardName := trimSuffix ".json" $dashboard.Name }}
{{- $dashboardPath := printf "%s/%s/%s" $dashboardsRoot $folderName $dashboard.Name }}
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: grafana-dashboard-{{ $folderName | kebabcase }}-{{ $dashboardName | kebabcase }}
      namespace: monitoring
      labels:
        grafana_dashboard: "1"
      annotations:
        grafana_folder: {{ $folderName | title | quote }}
    data:
      {{ $dashboard.Name }}: |-
{{ readFile $dashboardPath | replace "{{" "__GRAFANA_LBRACE__" | replace "}}" "__GRAFANA_RBRACE__" | replace "__GRAFANA_LBRACE__" "{{ \"{{\" }}" | replace "__GRAFANA_RBRACE__" "{{ \"}}\" }}" | nindent 8 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

serviceMonitor:
  enabled: true

testFramework:
  image:
    registry: {{ .Values.imageRegistry }}
    repository: {{ (index .Values.grafanaImages 3).image }}

initChownData:
  image:
    registry: {{ .Values.imageRegistry }}
    repository: {{ (index .Values.grafanaImages 2).image }}
