environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: netbox-postgres
    namespace: apps
    installed: false
    chart: zot/upstream/cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: netbox
    namespace: apps
    installed: false
    chart: zot/upstream/netbox/netbox
    version: 8.3.30
    values:
      - netbox/values.yaml.gotmpl
    needs:
      - netbox-postgres
