environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: netbox
    url: https://charts.netbox.oss.netboxlabs.com/
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts

releases:
  - name: netbox-postgres
    namespace: apps
    installed: false
    chart: cnpg/cluster
    version: 0.7.0
    values:
      - postgres/values.yaml.gotmpl

  - name: netbox
    namespace: apps
    installed: false
    chart: netbox/netbox
    version: 8.3.22
    values:
      - netbox/values.yaml.gotmpl
    needs:
      - netbox-postgres
