environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: mailrise
    namespace: apps
    chart: zot/upstream/bjw-s/app-template
    version: 5.0.1
    transformers:
      - ../../_helmfile/sync.yaml
    values:
      - values.yaml.gotmpl
