environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: actual
    namespace: apps
    chart: zot/internal/actual
    version: 0.6.0
    values:
      - values.yaml.gotmpl
