controllers:
  main:
    revisionHistoryLimit: 1
    containers:
      main:
        image:
          repository: {{ .Values.imageRegistry }}/{{ (index .Values.gitlabRedis 0).image }}
          tag: "{{ (index .Values.gitlabRedis 0).tag }}"
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi

defaultPodOptions:
  nodeSelector:
    node.home.mrdvince.me/worker: "true"

service:
  main:
    controller: main
    ports:
      redis:
        port: 6379
