environments:
  aion:
    values:
      - env: prod
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
  athos:
    values:
      - env: prod
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: cert-manager
    namespace: cert-manager
    chart: zot/upstream/jetstack/cert-manager
    version: v1.20.3
    values:
      - values.yaml.gotmpl

  - name: clusterissuer
    namespace: cert-manager
    chart: zot/internal/clusterissuer
    version: 0.1.1
    needs:
      - cert-manager/cert-manager
    values:
      - env: {{ .Values.env }}
        cloudflare:
          secretName: cloudflare
          secretKey: api-key
