environments:
  aion:
    values:
      - env: prod
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
  athos:
    values:
      - env: prod
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: cert-manager
    namespace: cert-manager
    chart: zot/upstream/jetstack/cert-manager
    version: v1.20.3
    values:
      - values.yaml.gotmpl

  - name: cloudflare-api-key
    namespace: cert-manager
    chart: zot/internal/secret
    version: 0.1.0
    values:
      - fullnameOverride: cloudflare-api-key
        data:
          api-token: {{ .Values.cf | get "api-key" }}
    needs:
      - cert-manager/cert-manager

  - name: clusterissuer
    namespace: cert-manager
    chart: zot/internal/clusterissuer
    version: 0.1.1
    values:
      - env: {{ .Values.env }}
    needs:
      - cert-manager/cert-manager
      - cert-manager/cloudflare-api-key
