crds:
  enabled: true
  keep: true

image:
  registry: {{ .Values.registry }}
  repository: {{ (index .Values.certManager 0).image }}

webhook:
  image:
    registry: {{ .Values.registry }}
    repository: {{ (index .Values.certManager 1).image }}

cainjector:
  image:
    registry: {{ .Values.registry }}
    repository: {{ (index .Values.certManager 2).image }}
