crds:
  enabled: true
  keep: true

{{ if not (.Values | get "renderStockImages" false) }}
image:
  registry: {{ .Values.imageRegistry }}

webhook:
  image:
    registry: {{ .Values.imageRegistry }}

cainjector:
  image:
    registry: {{ .Values.imageRegistry }}
{{ end }}
