environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: democratic-csi-iscsi
    namespace: kube-system
    chart: zot/upstream/democratic-csi/democratic-csi
    version: 0.15.1
    values:
      - values.yaml.gotmpl
