csiDriver:
  name: org.democratic-csi.iscsi
  fsGroupPolicy: File

controller:
  replicaCount: 2
  externalAttacher:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-attacher
  externalProvisioner:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-provisioner
  externalResizer:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-resizer
  externalSnapshotter:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-snapshotter
  driver:
    image:
      registry: {{ .Values.imageRegistry }}/democratic-csi/democratic-csi
      tag: v1.9.5

node:
  driver:
    image:
      registry: {{ .Values.imageRegistry }}/democratic-csi/democratic-csi
      tag: v1.9.5
    iscsiDirHostPathType: DirectoryOrCreate
  driverRegistrar:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-node-driver-registrar
  cleanup:
    image:
      registry: {{ .Values.imageRegistry }}/library/busybox

csiProxy:
  image:
    registry: {{ .Values.imageRegistry }}/democratic-csi/csi-grpc-proxy

storageClasses:
  - name: truenas-iscsi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4
  - name: truenas-iscsi-retain
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

driver:
  existingConfigSecret: democraticcsiinfisical
  config:
    driver: freenas-iscsi
