csiDriver:
  name: org.democratic-csi.iscsi
  fsGroupPolicy: File

controller:
  replicaCount: 2
  externalAttacher:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-attacher
  externalProvisioner:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-provisioner
  externalResizer:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-resizer
  externalSnapshotter:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-snapshotter
  driver:
    image:
      registry: {{ .Values.imageRegistry }}/democratic-csi/democratic-csi
      tag: v1.9.5

node:
  driver:
    image:
      registry: {{ .Values.imageRegistry }}/democratic-csi/democratic-csi
      tag: v1.9.5
    iscsiDirHostPathType: DirectoryOrCreate
  driverRegistrar:
    image:
      registry: {{ .Values.imageRegistry }}/sig-storage/csi-node-driver-registrar
  cleanup:
    image:
      registry: {{ .Values.imageRegistry }}/library/busybox

csiProxy:
  image:
    registry: {{ .Values.imageRegistry }}/democratic-csi/csi-grpc-proxy

storageClasses:
  - name: truenas-iscsi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4
  - name: truenas-iscsi-retain
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

driver:
  config:
    driver: freenas-iscsi
    instance_id: aion
    httpConnection:
      protocol: https
      host: {{ .Values.nfs_server }}
      port: 443
      apiKey: {{ .Values.truenas.democratic_csi.api_key | quote }}
      allowInsecure: true
      apiVersion: 2
    sshConnection:
      host: {{ .Values.nfs_server }}
      port: 22
      username: {{ .Values.truenas.democratic_csi.username }}
      privateKey: |
{{ .Values.truenas.democratic_csi.ssh_private_key | indent 8 }}
    zfs:
      cli:
        sudoEnabled: true
      datasetParentName: {{ .Values.truenas.democratic_csi.iscsi.dataset_parent }}
      detachedSnapshotsDatasetParentName: {{ .Values.truenas.democratic_csi.iscsi.detached_snapshots_dataset_parent }}
      zvolEnableReservation: false
      zvolBlocksize: 16K
    iscsi:
      targetPortal: {{ .Values.nfs_server }}
      targetPortals: []
      namePrefix: csi-
      nameSuffix: "-aion"
      targetGroups:
        - targetGroupPortalGroup: {{ .Values.truenas.democratic_csi.iscsi.portal_group }}
          targetGroupInitiatorGroup: {{ .Values.truenas.democratic_csi.iscsi.initiator_group }}
          targetGroupAuthType: None
          targetGroupAuthGroup:
      extentInsecureTpc: true
      extentXenCompat: false
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: "7200"
      extentAvailThreshold: 0
