environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
      - nfs:
          share: /mnt/swamp/moss/aion
    secrets:
      - ../../../secrets/secrets.enc.yaml
---
repositories:
  - name: zot
    url: zot.home.mrdvince.me/helm
    oci: true
    username: {{ .Values.zot.charon_username }}
    password: {{ .Values.zot.charon_password }}

releases:
  - name: csi-driver-nfs
    namespace: kube-system
    chart: zot/upstream/csi-driver-nfs/csi-driver-nfs
    version: 4.13.4
    values:
      - values.yaml.gotmpl
