environments:
  aion:
    values:
      - ../../../infrastructure/images/config.yaml
      - ../../../infrastructure/images/images/**/*.yaml
      - nfs:
          share: /mnt/swamp/moss/aion
---
bases:
  - ../../../infrastructure/charts/repositories.yaml.gotmpl

releases:
  - name: csi-driver-nfs
    namespace: kube-system
    chart: zot/upstream/csi-driver-nfs/csi-driver-nfs
    version: 4.13.4
    values:
      - values.yaml.gotmpl
